.env

/coverage
/mysql
/security/*
/archivos

#Modulos node
node_modules/
package-lock.json

files/facturas/*
files/remitos/*
files/logos/*

#Tokens de afip
afipkeys/*

#Ts build folder
dist/
log.log
logs.log
nohup.out
