#Modulos node
node_modules/
package-lock.json

#Tokens de afip
src/afip/Claves/*
src/afip/ClavesLibrosSilvestres/*

files/facturas/*
files/remitos/*

#Tokens de afip
afipkeys/*

#Ts build folder
dist/
